<div class="container-fluid">
  <h2 class="text-center">Create a new Quote</h2>
  <hr>
  <form #quoteform='ngForm' (ngSubmit)="submitForm()">
      <div class="form-group">

          <label for="name"> Submitted by</label>
          <input type="text" class="form-control" id="submitter" placeholder="name" (ngModel)="newQuote.submitter" name="submitter" #submitter='ngModel' required >
          <em *ngIf="submitter.invalid && (submitter.touched || mouseover)">required</em>
      </div>
      <div class="form-group">

          <label for="description">Quote</label>
          <textarea class="form-control" id="quote" rows="4" (ngModel)="newQuote.quote" name="quote" #quote='ngModel' required >
            </textarea>
            <em *ngIf="quote.invalid && (quote.touched || mouseover)">required</em>
      </div>
      <div class="form-group">
          <label for="complete">Author</label>
          <input type="text" class="form-control" id="author" placeholder="name" (ngModel)="newQuote.author" name="author" #author='ngModel' required >
          <em *ngIf="author.invalid && (author.touched||mouseover)">required</em>
      </div>
      <span (mouseenter)="mouseover=true" (mouseleave)="mouseover=false">
        <button type="submit" class="btn btn-success" [disabled]="quoteform.invalid">Add   Quote</button>
      </span>
    </form>
</div>